@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@400;500;700&display=swap');

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

:root{
    --very-dark-grayish-blue: hsl(217, 19%, 35%);
    --desaturated-dark-blue: hsl(214, 17%, 51%);
    --grayish-blue: hsl(212, 23%, 69%);
    --light-grayish-blue: hsl(210, 46%, 95%);
}

h1,h2,h3,h4,h5,h6{
    padding: 0;
    margin: 0;
}

html{
    font-family: 'Manrope', sans-serif;
    font-size: 13px;
}

/**PLATFORM MOBILE FIRST**/

.component__image-side{ max-width: 100%; }

.body{ 
    min-height: 100vh;
    background-color: var(--light-grayish-blue); 
}

.flex-container{
    display: flex;
    min-height: 100vh;
    justify-content: center;
    align-items: center;
    flex-flow: row nowrap;
    margin: 0 0px;
}

.component__content-side{
    /*background-image: url("../images/drawers.jpg");
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position-y: -18px;
    border-radius: 10px 10px 0 0;
    */
    height: 200px;
    overflow: hidden;
    border-radius: 10px 10px 0 0;
}

.component__img{
    width: 100%;
    height: 112%;
    object-fit: cover;
}

.component__content{
    background-color: white;
    border-radius: 0 0 10px 10px;
}

.title{
    color: var(--very-dark-grayish-blue);
    font-size: 16px;
    font-weight: 700;
    text-align: left;
    line-height: 1.5;
    margin-bottom: 15px;
    padding: 37px 34px 0 34px;
}

.text{
    color: var(--desaturated-dark-blue);
    font-size: 13px;
    text-align: left;
    font-weight: 500;
    line-height: 1.5;
    padding: 0 34px 0 34px;
    margin-bottom: 15px;
}

.component{ width: 325px; }


.profile{
    display: grid;
    grid-template-columns: 2fr 1fr;
    align-items: center;
    padding: 16px 34px 16px 34px;
}

.profile_desct{
    background-color: var(--very-dark-grayish-blue);
    border-radius: 0 0 10px 10px;
    transition-property: background-color;
    transition-duration: 0.8s;
    transition-timing-function: ease;
}

.profile__data{
    justify-self: flex-start;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    gap: 15px;
}

.profile__image img{
    display: block;
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.profile__user-name{
    font-size: 13px;
    color: var(--very-dark-grayish-blue);
    font-weight: 700;
    margin-bottom: 5px;
}

.profile__date{
    font-size: 13px;
    color: var(--grayish-blue);
    font-weight: 500;
}

.button-share{
    justify-self: flex-end;
    display: block;
    border: none;
    padding: 8px;
    border-radius: 50%;
    background-color: var(--light-grayish-blue);
}

.button-share:hover{ cursor: pointer; }

.option-share-hidden, 
.profile-data_hidden{ display: none; }

.option-share-view{
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    gap: 15px;
}

.option-share__text-custom{
    text-transform: uppercase;
    color: var(--grayish-blue);
    letter-spacing: 5px;
    font-size: 13px;
    font-weight: 500;
}

.nav-social-media{
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    gap: 18px;
}

.nav-social-media__link{
    display: block;
    text-decoration: none;
}

.button-share_click-modifier{ background-color: var(--desaturated-dark-blue); }

@keyframes click-btn {
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}

.button-share_animation-click:hover{
    animation-name: click-btn;
    animation-duration: 0.60s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: 1;
    animation-direction: normal;
}

/**BREAKPOINT 375px**/
@media screen and (max-width: 370px) {
    .component{ 
        width: auto;
        margin: 0 18px; 
    }
    .component__content-side{
        object-fit: contain;
        background-position: center top;
    }

    .profile__data,
    .option-share-view,
    .nav-social-media { 
        flex-flow: row wrap; 
    }

    .title{ padding: 20px 20px 0 20px; }

    .text{ padding: 0 20px 0 20px; }
}

/**BREAKPOINT 1000px**/
@media screen and (min-width: 1000px){
    .component{
        width: auto;
        display: grid;
        grid-template-columns: 280px 440px;
    }

    .title{
        font-size: 1.5rem;
        padding: 0;
        width: auto;
        line-height: 1.4;
        margin-bottom: 15px;
    }

    .text{
        padding: 0;
        width: auto;
        margin-bottom: 18px;
    }

    .profile{ padding: 0; }

    .component__content{ 
        padding: 35px 40px 30px 40px;
        border-radius: 0 10px 10px 0; 
    }

    .component__img{
        height: 100%;
        width: 122%;
        object-fit: cover;
    }

    .component__content-side{
        height: auto;
        overflow: hidden;
        border-radius: 10px 0 0 10px;
    }

    .button-share{ position: relative; }

    .option-share-view{
        position: absolute;
        background-color: var(--very-dark-grayish-blue);
        display: flex;
        flex-flow: row nowrap;
        align-items: center;
        gap: 15px;
        padding: 15px 35px;
        border-radius: 8px;
        z-index: 1;
    }

    .option-share-view::after{
        content: " ";
        display: block;
        position: absolute;
        top: 52px;
        left: 105px;
        border-left: 12px solid transparent;
        border-top: 12px solid var(--very-dark-grayish-blue);
        border-right: 12px solid transparent;        
    }
}